.icon {
  width: 50px;
  height: 30px;
  vertical-align: middle;
  margin-right: 8px;
}

body {
  background: url("bg.jpg");
}

.image {
  background-image: url("bg.jpg");     
  background-size: cover;                
  background-position: center;         
  height: 100vh;                        
  color: white;                       
  text-align: center;                    
  display: flex;                        
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: none;
  color: black;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translatey(-8px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2); 
}




.table thead th {
  background: rgba(255, 255, 255, 0.15) !important; 
  color: black !important;
  font-weight: 600;
  border: none !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.table tbody td, 
.table tbody th {
  background: rgba(255, 255, 255, 0.05);      
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: black !important;
}

.table tbody tr:hover {
  background: rgba(255, 255, 255, 0.15);
  transition: 0.3s ease;
}

.table th.text-start {
  font-weight: 600;
  color: black;
}
